.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#messages {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
}

#input-container {
    margin-top: 10px;
}

.online {
    color: green;
}

.offline {
    color: gray;
}

